{% extends 'base.html.twig' %}
{% block body %}
    <h2>ChargePoints</h2>
    <ul>
        {% for chargePoint in chargePoints %}
            <li>{{ chargepoint.identity }}</li>
        {% endfor %} }}
    </ul>

    <h2>Organizations</h2>
    <ul>
        {% for organization in organizations%}
            <li>{{ organization.name }}</li>
        {% endfor %} }}
    </ul>

{% endblock %}